@*<style type="text/css">
    #warning {
        position: absolute;
        width: 100%;
        height: 200%;
        z-index: 9999;
        background-color: rgba(1,1,1,0.5);
    }
</style>*@

    <noscript style="display:none">
        <meta http-equiv="REFRESH" content="0; url=@Url.Action("WelcomeEmployee","Home")" style="text-decoration:none">
        @*<div id="warning">Please Enable Java Script To Continue</div>*@
    </noscript>
@*style="position:absolute;width:100%;height:200%;z-index:9999;
    background-color:rgba(1,1,1,0.5)"*@
